MONGODB_URI= mongodb+srv://shrs1995:Test%401234@cluster0.erjcgxk.mongodb.net/training_system?retryWrites=true&w=majority&appName=Cluster0

PORT=3000

# JWT_ACCESS_TOKEN_EXPIRE_IN =30000
JWT_ACCESS_TOKEN_EXPIRE_IN =900000

JWT_REFRESH_TOKEN_SECRET=GDQxt4AkczeDs63zTgpcKPxrLKdNo7hLAxE3413
#expires in 7 day
# JWT_REFRESH_TOKEN_EXPIRE_IN =60000
JWT_REFRESH_TOKEN_EXPIRE_IN =86400000

JWT_ACTIVATION_SECRET=SgzYG8atdQFH3M5pjRnLhyADrYh9QBqGYMJ5a5A124
JWT_ACTIVATION_EXPIRE_IN = 6000s

SALT_ROUNDS=10